/* 카카오 지도 관련 CSS */
#kakaoMap {
    width: 100%;
    height: calc(100% - 3rem);
}

.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding: 2px;
}

.info {
    position: relative;
    font-size: 14px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: #fefefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* border: none; */
    border-radius: 10px;
    padding: 8px;
    z-index: 1;
}

.info::before {
    content: '';
    /* 테두리 역할의 가상 요소 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* 텍스트 뒤에 위치 */
    border-radius: 10px;
    /* 테두리의 둥근 모서리 */
    padding: 5px;
    /* 테두리 두께 */
    background: linear-gradient(45deg, #4CAF50, #2196F3);
    /* 그라데이션 */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    /* 내부 영역 비우기 */
    mask-composite: exclude;
    /* 크로스 브라우저 */
}

.info.info-big {
    font-size: 18px;
    color: #0f0f0f;
    /* border: 5px solid transparent; */
    /* border-image: linear-gradient(45deg, #4CAF50, #2196F3) 1; */
    padding: 15px;
    border-radius: 20px;
}

.info.info-big::before {
    content: '';
    /* 테두리 역할의 가상 요소 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* 텍스트 뒤에 위치 */
    border-radius: 20px;
    /* 테두리의 둥근 모서리 */
    padding: 5px;
    /* 테두리 두께 */
    background: linear-gradient(45deg, #4CAF50, #2196F3);
    /* 그라데이션 */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    /* 내부 영역 비우기 */
    mask-composite: exclude;
    /* 크로스 브라우저 */
}

/* 
.info.info-1 {
    color: #fefefe;
    background: #ff6a7b;
}

.info.info-2 {
    color: #fefefe;
    background: #ff9f5b;
}

.info.info-3 {
    color: #fefefe;
    background: #ffcd6d;
}

.info.info-4 {
    color: #fefefe;
    background: #5ac4c4;
}

.info.info-5 {
    color: #fefefe;
    background: #4e98db;
}

.info.info-6 {
    color: #fefefe;
    background: #ffad8b;
}

.info.info-7 {
    color: #fefefe;
    background: #ffd54f;
}

.info.info-8 {
    color: #fefefe;
    background: #63b5ad;
}

.info.info-9 {
    color: #fefefe;
    background: #60aee3;
}

.info.info-10 {
    color: #fefefe;
    background: #f7b9b9;
}

.info.info-11 {
    color: #fefefe;
    background: #98cdf3;
}

.info.info-12 {
    color: #fefefe;
    background: #ffcb80;
}

.info.info-13 {
    color: #fefefe;
    background: #4d89c3;
}

.info.info-14 {
    color: #fefefe;
    background: #f8d771;
}

.info.info-15 {
    color: #fefefe;
    background: #89f6cc;
}

.info.info-16 {
    color: #fefefe;
    background: #ff7d82;
} */


.info .title {
    font-weight: bold;
}

.info p {
    margin: 0;
}

/* 인포윈도우 화살표 제거 */
.kakao-infowindow {
    display: none;
    /* 기본 스타일로 표시되는 삼각형 숨기기 */
}