/* svg {
    background-color: lightblue;
  } */

/* 그래프 색상까지 변해버림 */
/* path {
    fill: lightgreen;
    stroke: darkgreen;
} */
.row.content {
    position: relative;
    max-width: 500px; /* SVG 크기와 일치 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 0;
}

#mapcolor {
    max-width: 100%;
    height: auto;
    display: block;
}

#mapcolor path {
    fill: lightgreen;
    fill-opacity: 0.7;
    stroke: darkgreen;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

#mapcolor path#KR-11:hover {
    fill: yellow;
}

#mapcolor path.land:hover {
    fill: green;
}

#info-box {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
    /* 처음에 숨김 */
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
    white-space: nowrap;
    /* 텍스트가 길 경우 줄바꿈 방지 */
    pointer-events: none;
    /* 마우스 이벤트 방지 */
    width: auto;
}

#mapcolor path:hover {
    cursor: pointer;
}

.custom-image{
    opacity: 0.8; /* 투명도 */
    transition: transform 0.3s ease; /* 애니메이션 효과 */
}
.custom-image:hover {
    transform: scale(1.2); /* 마우스 호버 시 크기 확대 */
    opacity: 1; /* 호버 시 투명도 변경 */
  }