<!DOCTYPE html>
<html lang="ko">

<head>
    <title>풍력 발전량 예측 모니터링</title>
    {% include 'headScript.html' %}

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</head>

<body>
       <!-- 헤더 부분 -->
       {% include 'header.html' %}
    <main>
        <h1>풍력 발전량 예측 모니터링</h1>
        <canvas id="chart"></canvas>
        <button id="testButton">Click me</button>
        <p id="output"></p>
        <h1>Power Data Viewer</h1>
        <form id="powerForm">
            <label for="tradeYmd">Enter Date (YYYYMMDD):</label>
            <input type="text" id="tradeYmd" name="tradeYmd" required>
            <button type="submit">Fetch Data</button>
        </form>
    
        <h2>Result</h2>
        <div id="result"></div>
        <div class="kma_sfctm2">
            <h2>kma_sfctm2</h2>


        </div>
    </main>
  
    <!-- 푸터 부분 -->
    {% include 'footer.html' %}
</body>

</html>