<!DOCTYPE html>
<html lang="ko">
<head>
  <title>풍력 발전량 예측 모니터링</title>
  {% include 'headScript.html' %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>

<body>
  {% include 'header.html' %}
  <main>
    <div class="dashboard">
      <div class="widget wind-map">
        <h2>풍향 지도</h2>
        <div
          style="display:block!important;position:relative!important;max-width:133.333vh!important;margin:auto!important;padding:0!important;border:0!important">
          <div
            style="display:block!important;position:relative!important;width:100%!important;height:0!important;box-sizing:content-box!important;margin:0!important;border:0!important;padding:0 0 75%!important;left:0!important;top:0!important;right:0!important;bottom:0!important">
            <iframe src="https://embed.ventusky.com/?p=35.80;129.69;6&l=wind-10m"
              style="display:block!important;position:absolute!important;left:0!important;top:0!important;width:100%!important;height:100%!important;margin:0!important;padding:0!important;border:0!important;right:auto!important;bottom:auto!important"
              loading="lazy"></iframe>
          </div>
        </div>
      </div>
      <div class="widget weather">
        <h2>현재 날씨</h2>
        <p>
          기온 : <span id="temperature">-</span> °C
        </p>
        <p>
          풍속 : <span id="wind-speed">-</span> m/s
        </p>
        <p>
          습도 : <span id="humidity">-</span> %
        </p>
      </div>
      <div class="widget current-energy">
        <h2>현재 발전량</h2>
        <p>
          현재 발전량: <span id="current-output">-</span> MW
        </p>
      </div>
      
      <div class="widget forecastEnergy">
        <h2>모델별 예상 발전량</h2>
        <p>
          현재 예상 발전량: <span id="forecast-now">-</span>
        </p>
        <p>
          내일 예상 발전량: <span id="forecast-tomorrow">-</span>
        </p>
        <div class="select_model">
          <button type="button" class="model_rf">RF Model</button>
        </div>
      </div>
      <div class="widget charts">
        <h2>성능 차트</h2>
        <canvas id="myChart"></canvas>

      </div>
      <div class="widget windPowerChart">
        <h2>풍속 발전량 차트</h2>
        <canvas id="windPowerChart"></canvas>

      </div>
    
    </div>
  </main>
  {% include 'footer.html' %}
</body>
</html>