<footer>
    <div class="footer_logo">
        <a href="/">풍력 발전량 모니터링</a>
    </div>
    <div class="info">
        <p class="infoName">© 2024 Old. All rights reserved.</p>
        <p>
            <a href="/terms">이용 약관</a> | <a href="/privacyPolicy">개인정보 처리방침</a>
        </p>
        <p>연락처: manager@teamold.co.kr | 전화: 123-456-7890</p>
        <div class="social-links">
            <span><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> |</span>
        </div>
    </div>
</footer>