<footer>
    <div class="footer_links">
        <span><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> |</span>
        <span><a href="https://apihub.kma.go.kr/" target="_blank">기상청 API</a> |</span>
        <span><a href="https://www.data.go.kr/" target="_blank">공공데이터포털</a> |</span>
        <span><a href="https://www.ventusky.com/" target="_blank">Ventusky</a> |</span>
        <span><a href="https://apis.map.kakao.com/" target="_blank">Kakao Map API</a> |</span>
        <span><a href="https://www.tensorflow.org/" target="_blank">Tensorflow</a> |</span>
        <span><a href="https://www.chartjs.org/" target="_blank">Chartjs</a> |</span>
    </div>
    <div class="footer_info">
        <div class="info_contact">이메일: webmaster@teamold.co.kr | 전화: 123-456-7890</div>
        <div class="info_team">© 2024 Old. All rights reserved.</div>
    </div>
</footer>